/**
  *  SPDX-FileCopyrightText: 2015-2022 Bill Ross Photoriot <phobrain@sonic.net>
  *
  *  SPDX-License-Identifier: Fair
  *
  * CSSReset.com - How To Keep Footer At Bottom of Page with CSS
  * 
  * Original Tutorial: http://www.cssreset.com/2010/css-tutorials/how-to-keep-footer-at-bottom-of-page-with-css/
  * Original License: Free - do whatever you like with it! Credit and linkbacks much appreciated.
  *
  * NB: Make sure the value for 'padding-bottom' on #content is equal to or greater than the height of #footer.
  */
html,
body {
	background:#909090;
	background-color:#909090;
	margin:0;
	padding:0;
	height:100%;
}
#wrapper {
	background:#909090;
	background-color:#909090;
	min-height:100%;
	padding:0;
	position:relative;
}
#header {
	background:#909090;
	background-color:#909090;
	padding:5px;
}
#content {
	padding-bottom:140px; /* Height of the footer element */
}
#footer {
	background:#909090;
	background-color:#909090;
	width:100%;
	height:140px;
	position:absolute;
	bottom:0;
	left:0;
}
 
A{text-decoration:none}

.dot {
  pointer-events: none;
  border-radius: 50%;
  position: absolute;
}

.caret {
  //border-left: 8px solid transparent;
  //border-right: 8px solid transparent;
  //border-top: 8px solid #000000;
  //border-width: 8px ;
  color: rgba(255,255,255,0.4);
}

.browserCaret {
  border-width: 8px ;
}
.mobileCaret {
  border-width: 18px ;
}

.basicButton {
  color: rgba(255,255,255,0.4);
  font-size: 18pt; 
  font-family:'Courier New',Courier,monospace;
  text-align:right;
}

.beveledButton {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
  inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}

.invisBut {
  color: #909090;
  background-color:#909090;
  font-size: 18pt;
  font-family:'Courier New',Courier,monospace;
}

.invisBut2 {
  width: 100%;
  color: #909090;
  background-color:#909090;
  font-size: 8pt;
  font-family:'Courier New',Courier,monospace;
}

button {
    cursor: pointer;
    border: 1px transparent;
    background-color: transparent;
}

.blackBut {
  color:black;
  font-size: 18pt;
  font-family:'Courier New',Courier,monospace;
  text-align:left;
  white-space:nowrap;
}

.greyBut {
  color:rgba(255,255,255,0.4);
  font-size: 18pt;
  font-family:'Courier New',Courier,monospace;
  text-align:left;
  white-space:nowrap;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#home:hover { background-color:transparent; }
#about:hover { background-color:transparent; }
#ddd:hover { background-color:rgba(255,255,255,0.4); }
#eee:hover { background-color:rgba(255,255,255,0.4); } 

.dropdown-content {
 display: none;
 position: absolute;
 background-color:#909090;
 color:rgba(255,255,255,0.4);
 font-size: 18pt; font-family:'Courier New',Courier,monospace;
}

.dropdown-menu {
 display: none;
 position: absolute;
 background-color: #909090;
 color:rgba(255,255,255,0.8);
 font-size: 18pt; font-family:'Courier New',Courier,monospace;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

.caret-right {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid;
    display: inline-block;
    height: 0;
    opacity: 0.6;
    vertical-align: center;
    width: 0;
}

.caret-right-big {
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-left: 12px solid;
    display: inline-block;
    height: 0;
    opacity: 0.6;
    vertical-align: center;
    width: 0;
}
