#
#  SPDX-FileCopyrightText: 2015-2022 Bill Ross Photoriot <phobrain@sonic.net>
#
#  SPDX-License-Identifier: AGPL-3.0-or-later
#

## phobasic.css - css for phobrain view.html and curate.html

A{text-decoration:none}

button {
    cursor: pointer;
    border: 1px transparent;
    background-color: transparent;
}

.dot {
  pointer-events: none;
  border-radius: 50%;
  position: absolute;
}

.basicButton {
  color: rgba(255,255,255,0.4);
  font-size: 18pt;
  font-family:'Courier New',Courier,monospace;
  text-align:right;
}

.beveledButton {
  box-shadow: inset 0 -1px 1px rgba(0,0,0,0.5), /*bottom internal shadow*/
  inset 0 1px 1px rgba(255,255,255,1); /*top internal highlight*/
}

.invisBut {
  color: #909090;
  background-color:#909090;
  font-size: 18pt;
  font-family:'Courier New',Courier,monospace;
}

.invisBut2 {
  width: 100%;
  color: #909090;
  background-color:#909090;
  font-size: 8pt;
  font-family:'Courier New',Courier,monospace;
}

.blackBut {
  color:black;
  font-size: 18pt;
  font-family:'Courier New',Courier,monospace;
  text-align:left;
  white-space:nowrap;
}

.greyBut {
  color:rgba(255,255,255,0.4);
  font-size: 18pt;
  font-family:'Courier New',Courier,monospace;
  text-align:left;
  white-space:nowrap;
}


.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.caret-right {
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-left: 5px solid;
    display: inline-block;
    height: 0;
    opacity: 0.6;
    vertical-align: center;
    width: 0;
}

.caret-right-big {
    border-bottom: 12px solid transparent;
    border-top: 12px solid transparent;
    border-left: 12px solid;
    display: inline-block;
    height: 0;
    opacity: 0.6;
    vertical-align: center;
    width: 0;
}

#home:hover { background-color:transparent; }
#about:hover { background-color:transparent; }
#ddd:hover { background-color:rgba(255,255,255,0.4); }
#eee:hover { background-color:rgba(255,255,255,0.4); }

# bootstrap dropdown classes

.dropdown-content {
 display: none;
 position: absolute;
 background-color:#909090;
 color:rgba(255,255,255,0.4);
 font-size: 18pt; font-family:'Courier New',Courier,monospace;
}

.dropdown-menu {
 display: none;
 position: absolute;
 background-color: #909090;
 color:rgba(255,255,255,0.8);
 font-size: 18pt; font-family:'Courier New',Courier,monospace;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}


